<ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
    <%= link_to admin_path, temprop: "item" do %>
      <span itemprop="name">User List</span>
    <% end %>
    <meta itemprop="position" content="1" />
  </li>
  <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
    <%= link_to admin_user_path(@user), temprop: "item" do %>
      <span itemprop="name"><%= @user.name %></span>
    <% end %>
    <meta itemprop="position" content="2" />
  </li>
</ol>

<div class="admin__user-headline">
  <div class="admin__title">
    <h1 class='form__title title__text'><%= @user.name %></h1>
  </div>
  <%= link_to edit_admin_user_path(@user) do %>
    <i class="fa-regular fa-pen-to-square admin__icon"></i>
  <% end %>

  <div class="admin__user-status">
    <% if @user.is_deleted %>
      <div class="invalid-user">退会</div>
    <% else %>
      <div class="active-user">有効</div>
    <% end %>
  </div>
</div>

<div>アカウント開始日: <%= l @user.created_at, format: :short %></div>
<div>メールアドレス: <%= @user.email %></div>

<div class="title">
  <div class="title__circle--h2"></div>
  <h2 class='title__text'>Tweet List</h2>
</div>
<% @posts.each do |post| %>
  <div class="card">
    <div class='card__inner'>
      <div class="card__flame">
        <div class="card__tag">
          <%= image_tag "/assets/tag/#{post.tag_name}", class: 'card__tagImg' %>
        </div>
        <div class="card__content">
          <p class="card__contentText">
            <%= post.text %>
          </p>
          <div class="card__contentImage">
            <%= image_tag post.display_image(200,200) %>
          </div>
        </div>
      </div>
      <div class="card__summary">
        <div class="card__summaryItem">
          <i class="fa-regular fa-clock"></i>
          <%= time_ago_in_words(post.created_at) %>
        </div>
        <div class="card__summaryItem">
          <i class="fa-solid fa-heart"></i>
          <%= post.likes.count %>
        </div>
        <div class="card__summaryItem">
          <i class="fa-regular fa-comment"></i>
          <%= post.comments.count %>
        </div>
        <div class="card__summaryItem">
          <%= link_to admin_post_path(post.id), method: :delete do %>
            <i class="fa-solid fa-trash"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<%= paginate @posts %>

<div class="title">
  <div class="title__circle--h2"></div>
  <h2 class='form__title title__text'>Comment List</h2>
</div>
<% @comments.each do |comment| %>
  <div class="card">
    <div class="card__flame">
      <p class="card__contentText">
        <%= comment.text %>
      </p>
    </div>

    <div class="card__summary">
      <div class="card__summaryItem">
        <i class="fa-regular fa-clock"></i>
        <%= time_ago_in_words(comment.created_at) %>
      </div>
      <div class="card__summaryItem">
        <%= link_to admin_comment_path(comment.id), method: :delete do %>
          <i class="fa-solid fa-trash"></i>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
<%= paginate @comments %>