<section>
  <div class="title">
    <div class="title__circle--h2"></div>
    <h2 class='title__text'>User Infomatin</h3>
  </div>
  <%= form_with model: @user, url: update_user_path do |f| %>
    <div class="field">
      <%= f.label :name %>:
      <%= f.text_field :name %>
    </div>
    <div>
      email:
      <%= @user.email %>
    </div>

    <%= f.submit "æ›´æ–°", class: "btn-s-light" %>
  <% end %>

  <%= link_to "ã‚¢ã‚«ã‚¦ãƒ³ãƒˆå‰Šé™¤", withdrawal_path(current_user), method: :patch, data:{ confirm: "æœ¬å½“ã«æ¶ˆã—ã¾ã™ã‹ï¼ŸðŸ¥º"},  class: "btn-s-dark" %>

  <%= javascript_pack_tag 'notification-click.js' %>
</section>