<div class="title">
  <h2 class='form__title title__text'>Hello!! <%= current_user.name %>
  </h2>
  <%= link_to edit_user_path(current_user.id) do %>
    <i class="fa-solid fa-gear icon"></i>
  <% end %>
</div>

<div class="title">
  <div class="title__circle--h2"></div>
  <h2 class='title__text'>Tweet List</h2>
</div>

<% @posts.each do |post| %>
  <%= link_to post_path(post) do %>
    <%= render 'public/posts/post_card', post: post %>
  <% end %>
<% end %>
<%= paginate @posts %>

<div class="title">
  <div class="title__circle--h2"></div>
  <h2 class='title__text'>Comment List</h2>
</div>
<% @comments.each do |comment| %>
  <%= render 'public/posts/comment_card', { post: comment.post , comment: comment} %>
<% end %>
<%= paginate @comments %>

<%= javascript_pack_tag 'notification-click.js' %>