<header class="header">
  <div class="logo">
    <%= link_to root_path do %>
       <span class="logo--Accent">Koko</span>tto
    <% end %>
  </div>
  <nav class="header__Nav">
    <ul class="header__NavList">
      <li class="header__NavListItem">
        <%= link_to "What is Kokotto?", root_path %>
      </li>
      <% if user_signed_in? %>
        <li class="header__NavListItem">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        </li>
      <% elsif admin_signed_in? %>
        <li class="header__NavListItem">
          <%=  link_to "ログアウト", destroy_admin_session_path, method: :delete %>
        </li>
      <% else %>
        <li class="header__NavListItem">
          <%= link_to "新規登録", new_user_registration_path %>
        </li>
        <li class="header__NavListItem">
          <%= link_to "ログイン", new_user_session_path %>
        </li>
        <div class="header__NavListItem">
          <%= link_to 'ゲストログイン', guest_sign_in_path, method: :post %>
        </div>
        <li class="header__NavListItem">
          <%= "お知らせ" %>
        </li>
      <% end %>
    </ul>
  </nav>
</header>