<header class="header">
  <div class="logo">
    <%= link_to root_path do %>
       <span class="logo--Accent">Koko</span>tto
    <% end %>
  </div>
  <nav class="header__Nav">
    <ul class="header__NavList">
      <% if user_signed_in? %>
        <li class="header__NavListItem">
          <%= link_to root_path do %>
            What's<span class="logo--small">Kokotto?</span>
          <% end %>
        </li>
        <li class="header__NavListItem">
          <div class="notification-button" id="notification-button" role="button" aria-label="Show notifications">
            <% if current_user.unread_notifications.exists? %>
              <div class="notification-button--alert">︎</div>
              <i class="fa-solid fa-bell"></i>
            <% else %>
              <i class="fa-solid fa-bell"></i>
            <% end %>
          </div>
        </li>
        <li class="header__NavListItem">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        </li>
      <% elsif admin_signed_in? %>
        <li class="header__NavListItem">
          <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
        </li>
      <% else %>
        <li class="header__NavListItem">
          <%= link_to root_path do %>
            What's<span class="logo--small">Kokotto?</span>
          <% end %>
        </li>
        <li class="header__NavListItem">
          <%= link_to "新規登録", new_user_registration_path %>
        </li>
        <li class="header__NavListItem">
          <%= link_to "ログイン", new_user_session_path %>
        </li>
        <li class="header__NavListItem">
          <%= link_to 'ゲストログイン', guest_sign_in_path, method: :post %>
        </li>
      <% end %>
    </ul>
  </nav>
</header>