<header>
  <li>
    <%= link_to "LOGO", root_path %>
  </li>
  <li>
    <%= link_to "What is Kokotto?", root_path %>
  </li>
  <% if user_signed_in? %>
    <li>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    </li>
  <% elsif admin_signed_in? %>
    <li>
      <%=  link_to "ログアウト", destroy_admin_session_path, method: :delete %>
    </li>
  <% else %>
    <li>
      <%= link_to "新規登録", new_user_registration_path %>
    </li>
    <li>
      <%= link_to "ログイン", new_user_session_path %>
    </li>
    <div class="row">
      <%= link_to 'ゲストログイン（閲覧用）', guest_sign_in_path, method: :post %>
    </div>
  <% end %>
  <li>
    <%= "お知らせ" %>
  </li>
</header>