<!DOCTYPE html>
<html>
  <head>
    <title>Kokotto</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/dec8a00012.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |message_type, message| %>
      <%= message %>
    <% end %>
    <%= render "layouts/header" %>
    <%= render "layouts/menu" %>
    <%= link_to new_post_path do %>
      <i class="fa-solid fa-plus"></i>
    <% end %>
    <br />
    <%= yield %>
  </body>
</html>
